#itemsTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#itemsTable table {
    margin: auto;
}

#itemsTable td,
#itemsTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#itemForm {
    margin: auto;
    max-width: 500px;
}

#itemsLinks {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

#itemsLinks div {
    margin-bottom: 20px;
    font-size: 20px;
}